@font-face {
  font-family: 'Fixel Variable';
  src: url('/fonts/FixelVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --background-primary: #F1F1F1;
  --background-secondary: #F1F1F1;
  --background-tertiary: #F1F1F1;
  --text-primary: #353535;
  --text-secondary: #353535;
  --border-color: #353535;
  --border-color-hover: #353535;
  --primary-color: #FF8311;
  --primary-color-hover: #FF8311;
  --primary-color-light: #FF8311;
  --error-color: #FF8311;
  --error-background: #F1F1F1;
  --error-text: #353535;
  --error-border: #353535;
  --success-color: #FF8311;
}

[data-theme="dark"] {
  --background-primary: #353535;
  --background-secondary: #353535;
  --background-tertiary: #353535;
  --text-primary: #F1F1F1;
  --text-secondary: #F1F1F1;
  --border-color: #F1F1F1;
  --border-color-hover: #F1F1F1;
  --primary-color: #FF8311;
  --primary-color-hover: #FF8311;
  --primary-color-light: #FF8311;
  --error-color: #FF8311;
  --error-background: #353535;
  --error-text: #F1F1F1;
  --error-border: #F1F1F1;
  --success-color: #FF8311;
}

body {
  font-family: 'Fixel Variable', Arial, Helvetica, sans-serif;
  background: var(--background-primary);
  color: var(--text-primary);
  transition: all 0.3s;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 600px;
    padding: 0 20px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
