@font-face {
  font-family: 'Fixel Variable';
  src: url('/FixelVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fixel Variable', Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  color: #111;
}

*, *::before, *::after {
  box-sizing: border-box;
}
